.card-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  /* padding: 20px; */
  border-radius: 10px;
  background: linear-gradient(to bottom, #f5f7fa, #dfe7ef);
  border: 2px solid #115060;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.id-card-content {
  width: 100%;
  text-align: left;
}

.img {
  max-height: 50px;
  width: auto;
}

.clickable-image {
  width: 150px;
  height: 200px;
  border-radius: 10%;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.clickable-image:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}